@mixin style-public {
	position: relative;
	display: block;
}
@mixin wrap-relative {
	position: relative;
	display: block;
	overflow: hidden;
    clear: both;
}
@mixin wrap-absolute {
	position: absolute;
	display: block;
	overflow: hidden;
}
@mixin full-size {
	width: 100%;
	height: 100%;
	clear: both;
	overflow: hidden;
}
.full-size {
	@include full-size;
}
img.img-reponsive {
	width: 100%;
	height: 100%;
	clear: both;
	object-fit: cover;
}
img.img-initial {
	width: initial !important;
	height: initial !important;
	clear: both;
}
$color1: #000; 
$color2: #fff;
$color3: #3eb1c8; // mau menu-top
$color4: #0d4c92; // mau chu dao and title text
$color5: #999999; // mau text nomral
$color6: #e1e1e1; // mau bg-btn or border
$color7: #f9f9f9; // mau text post new va background box home

// /*@fontface=========================*/
@font-face {
	font-family: 'UTM-Avo';
	src: url('../fonts/UTM-Avo.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UTM-Bold';
	src: url('../fonts/UTM-AvoBold.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UTM-Italic';
	src: url('../fonts/UTM-AvoItalic.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UTM-BoldItalic';
	src: url('../fonts/UTM-BoldItalic.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
// /*=====================@fontface======================*/

@keyframes "load" {
	from {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	to {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}
@-webkit-keyframes "load" {
	from {
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
	}
	to {
		-webkit-transform: translate(-50%,-50%) rotate(360deg);
	}
}
.load {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	z-index: 9999999999999;
	img {
		position: absolute;
		width: 100px;
		top: 50%;
		left: 50%;
		animation-name: load;
		-webkit-animation-name: load;
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}
}
.hidden {
  display: none;
}
.fullwidth { width: 100%; }
.limit100 { max-width: 100%; }
.box {
	position: relative;
	display: block;
}
.div {
	position: relative;
	display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
img.responsive {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
img.scaledown {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}
img.contain {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

body {
	// font: 14px UTM-Avo;
	font:14px/22px Arial, Helvetica, sans-serif;
	line-height: 1.8;
	color: #333;
	background: #fff;
}
body .ui-tooltip {
    border-width: 2px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 15px;
    background: rgba(67, 74, 84, 0.9);
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    &::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #4c4c4c transparent transparent transparent;
	}
}
a {
    color: #0d4c92;
    text-decoration: none;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}
p {
	// font: 14px UTM-Avo;
	font:14px/22px Arial, Helvetica, sans-serif;
	line-height: 22px;
	line-height: 1.5;
	// color: #888888;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.p-bold {
	// font: 14px UTM-Bold;
	font:14px/22px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.bold {
    font-weight: bold;
}
// h1 {font-size: 4.2vw; }
// h2 {font-size: 3.8vw; }
// h3 {font-size: 2.5vw; }
// p {font-size: 2vw; }

@media (max-width: 800px) {
    aside, section { width: auto; float: none; }
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

.clearfix::before {
	content: " ";
	display: table;
}

.clearfix::after {
	content: " ";
	display: block;
	clear: both;
}
.space {
	position: relative;
	display: block;
	width: 100%;
	height:0;
	clear: both;
}
.space10 {height:10px; }
.space20 {height:20px; }
.space30 {height:30px; }
.space40 {height:40px; }
.space50 {height:50px; }
.space60 {height:60px; }

.pd0 { padding: 0;}
.pd10 { padding: 10px;}
.pd20 { padding: 20px;}
.pd30 { padding: 30px;}
.pd40 { padding: 40px;}
.pd50 { padding: 40px;}

.pdt10 {padding-top: 10px; }
.pdt20 {padding-top: 20px; }
.pdt30 {padding-top: 30px; }
.pdt40 {padding-top: 40px; }
.pdt50 {padding-top: 50px; }

.pdbt10 {padding-bottom: 10px; }
.pdbt20 {padding-bottom: 20px; }
.pdbt30 {padding-bottom: 30px; }
.pdbt40 {padding-bottom: 40px; }
.pdbt50 {padding-bottom: 50px; }

.pdtb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.pdtb20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pdtb30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pdtb40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pdtb50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.mg0 { margin: 0;}
.mgt10 {margin-top: 10px; }
.mgt20 {margin-top: 20px; }
.mgt30 {margin-top: 30px; }
.mgt40 {margin-top: 40px; }
.mgt50 {margin-top: 50px; }
.mgt100 {margin-top: 100px; }

.mgbt10 {margin-bottom: 10px !important; }
.mgbt20 {margin-bottom: 20px !important; }
.mgbt30 {margin-bottom: 30px !important; }
.mgbt40 {margin-bottom: 40px !important; }
.mgbt45 {margin-bottom: 45px !important; }
.mgbt50 {margin-bottom: 50px !important; }

::-moz-selection {
	color: teal;
	background: #ccc;
}
::selection {
	color: teal;
	background: #ccc;
}
.clear { clear: both;}
.bg-white {background: #fff; }
.white {color: #fff; }
.red {color: red; }
.uppercase { text-transform: uppercase;}
.f-left { float: left;}
.f-right { float: right;}
.center{
    display: block;
    text-align: -webkit-center;
}

.box-effect {
  position: relative;
  display: block;
  overflow: hidden;
}

.box-effect::before {
  position: absolute;
  top: 0;
  left: -84%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.box-effect:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-ms-keyframes shine {
  100% {
    left: 125%;
  }
}

@-moz-keyframes shine {
  100% {
    left: 125%;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

#goTop {
	bottom: 10px;
	color: #FFFFFF;
	display: none;
	font-weight: bold;
	opacity: 0.6;
	position: fixed;
	right: 10px;
	text-align: center;
	width: 45px;
	z-index: 5;
	.go_top {
		border-radius: 20px;
		cursor: pointer;
		display: block;
		font-size: 18px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
    	background: #76cdf3;
	}
	&:hover {
		opacity: 1;
	}
}

.title2 {
    // font: 20px UTM-Bold;
	font:22px/30px Arial, Helvetica, sans-serif;
	font-weight: bold;
    line-height: 1.4;
}
.title2 {
	color: $color4;	
    margin: 0;
	a {
		color: $color4;
	}
}
.title3 {
	text-transform: uppercase;
	// font: 14px UTM-Bold, sans-serif;
	font:14px/22px Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.2;
}
.title4 {
	// font: 16px UTM-Bold, sans-serif;
	font:16px/24px Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-weight: 700;
	line-height: 1.1;
}
.title5 {
	text-transform: uppercase;
	// font: 24px UTM-Bold, sans-serif;
	font:24px/32px Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 1.3;
}


// start breadcrumb
.breadcrumb {
	@include wrap-relative;
    padding: 0;
	height: 30px;
	line-height: 30px;
	background: #ebebeb;
	margin:0;
	color: #000000;
    border-radius: 0;
	a {
		color: #000000;
	}
	li {
		float: left;
		padding: 0 5px;
		&:not(:last-child):after {
		    content: "/";
		    padding-left: 10px;
		}
	}
}
// End breadcrumb


// start pagin
.pagin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    border-radius: .25rem;
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    strong {
	    text-align: -webkit-match-parent;
	    position: relative;
	    display: block;
    	padding: .8rem 1.5rem;
	    margin-left: -1px;
	    line-height: 1.25;
	    color: #fff;
	    border: 1px solid #ddd;
    	background-color: #0d4c92;
	    cursor: not-allowed;
	}
	a {
	    text-align: -webkit-match-parent;
	    position: relative;
	    display: block;
    	padding: .8rem 1.5rem;
	    margin-left: -1px;
	    line-height: 1.25;
	    color: #000000;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    &:focus,&:hover {
		    color: #014c8c;
		    text-decoration: none;
		    background-color: #eceeef;
		    border-color: #ddd;
		}
	}
}


// Start pagination
.wp-pagenavi {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
.wp-pagenavi span.pages {
  display: none;
}
.wp-pagenavi a {
    float: none;
    margin: 2.5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #178095;
    border-radius: 0;
    text-decoration: none;
    border: 1px solid #e5e5e5;
}
.wp-pagenavi span.current {
  float: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
  color: #fff !important;
}
.wp-pagenavi a:hover {
    background-color: #2399b1;
    border-color: #2399b1;
    color: #fff;
}
.wp-pagenavi {
  clear: both;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #178095;
    margin: 2px;
    position: relative;
    display: inline-block;
}
.wp-pagenavi span.current {
  font-weight: bold;
}
// Start pagination
// End pagin


.menu-collapse {display: none; }
nav .item-menu-1 span.submenu-button {display: none; }
.fixed { position: fixed; display: block; width: 100%; z-index: 100;}

// Start header
header {
	@include style-public;
	.header-top {
		height: 65px;
		color: #fff;
		background: $color3;
		border-bottom: 3px solid #ffc72c;
		p {
		    margin: 0;
		    line-height: 35px;
    		display: inline;
		    margin-right: 10px;
		}
		a { color: #fff; }
		a:hover { color: #f8b036;}
		.social-top .fa{
			    width: 28px;
			    height: 25px;
			    padding: 5px;
			    margin: 0 5px;
			    text-align: center;
			    background: url(../images/icon/boder-icon-top.png) no-repeat;
			    background-size: 100%;
		}
		.header-top-left {
		    position: relative;
		    display: inline-block;
		    width: 100%;
    		line-height: 57px;
		}
		.item-contact-top {
		    position: relative;
		    display: block;
		    float: left;
		    &:first-child {
			    margin-right: 20px;
			}
		}
		.box.header-top-right {
		    position: relative;
		    display: inline-block;
		    width: 100%;		    
			.box-socail-top {
			    position: relative;
			    display: inline-block;
			    float: left;
			    width: 140px;
			    line-height: 57px;
			    .icon-socail {
				    position: relative;
				    display: inline-block;
				    width: 30px;
				    height: 30px;
				    line-height: 30px;
				    padding: 0;
				    text-align: center;
                    border-radius: 50%;
                    transition: .6s;
                    &:hover { background: #4f5858;}
				}
			}
			.form-search-top {
			    position: relative;
			    display: block;
			    float: right;
    			line-height: 57px;    			
				form.frm-search {
				    height: 30px;
				    position: relative;
				    display: block;
				    width: 100%;
				}
				input {
					width: 100%;
					height: 30px;
					border: 0;
					border-radius: 3px;
				    margin: 0;
				    padding: 0 10px;
	    			color: #333;
				}
				button.btn-search {
				    position: absolute;
				    top: 0;
				    right: 0;
				    height: 30px;
				    width: 30px;
				    text-align: center;
				    margin: 0;
				    padding: 0;
				    line-height: 57px;
				    background: transparent;
				    border: 0;
	    			color: #333;
	    			outline: 0;
				}
			}
		}
	}
	.header {
		@include style-public;
		clear: both;
		width: 100%;
		height: 120px;
    	background: #fff;
    	nav.box-menu-top {
		    width: 100%;
		    position: relative;
		    display: block;
    		line-height: 100px;
			.list-menu-2 {
			    display: none;
			    font-size: 16px;
			    line-height: 16px;
			    transition: .8s;
			    position: absolute;
			    top: 100%;
			    left: 0;
    			width: 0;
    			opacity: 0;
    			background: #ffffff;
    			.item-menu-2 {
				    position: relative;
				    display: block;
				    width: 100%;
				    height: 30px;
				    line-height: 30px;
				    padding: 0 10px;
				    &:hover {background: aliceblue;}
				    a.link-menu-2 {
					    color: #4f5858;
					}
				}
			}
		    .list-menu-1 {
			    position: relative;
			    float: right;
			    .item-menu-1 {
				    position: relative;
				    display: inline-block;
					padding: 10px;
				    float: left;
				    a.link-menu-1 {
						font-size: 16px;
						color: #4f5858;
				    }
					&:hover .list-menu-2{
						display: block;
	    				width: 180px;
	    				z-index: 99;
	    				opacity: 1;
					}
				}
			}
		}
	}
	.box-logo-top {
	    margin-top: 20px;
	}
}
// End header

.read-more {
    text-decoration: underline;
    font: 14px/22px Arial, Helvetica, sans-serif;
    background: transparent;
    color: #4c5555;
    text-decoration: none;
    border-radius: 7px;
    width: 100px;
    font-weight: bold;
}
.read-more:hover { color: #333;}

// Start Box Slider
.slide-top .item img {
    min-height: 200px;
}
.btn-slide-top {
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.box-text-slide-top {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: -webkit-fill-available;
    background: transparent;
    margin: auto;
}
.box-text-slide-inner {
    position: relative;
    display: block;
    left: 10%;
    top: 10%;
    height: max-content;
    width: fit-content;
}
.box-text-slide-inner>div {
    background: rgba(255, 255, 255, 0.6);
    padding: 5px 20px;
    margin-bottom: 10px;
    width: max-content;
}
.text-slide-1 {
    position: relative;
    width: max-content;
    font-size: 32px;
}
.text-slide-2 {
    position: relative;
    width: max-content;
    font-size: 28px;
}
.text-slide-3 {
    position: relative;
    width: max-content;
    font-size: 18px;
}
.btn-camera {
    background: rgba(239, 51, 64, 0.8) !important;
    border-radius: 0;
    padding: 5px 10px !important;
    color: #fff;
    transition: .6s;
}
.btn-camera:hover {
    background: rgba(239, 51, 64, 1) !important;
    color: #fff;
}
// End Box slide


.title-article {
    font-weight: bold;
    color: #4c5555;
    margin: 0;
    color: #5e6d81;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.sub-title-article {
    color: #a4a4a4;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.small_line {
	position: relative;
	display: block;
    width: 100%;
    padding:0;
    clear: both;
}
.small_line span {
    width: 80px;
    height: 4px;
    background-color: #f1f1f1;
    display: block;
    margin: auto;
}

.title-post-item {
    color: #54a9c5;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.box_interactive {
    background: #54a9c5;
    color: #fff;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 0;
    p {
	    line-height: 30px;
	}
	.btn-get-price {
	    background: orange;
	    color: #fff;
	    border-radius: 16px;
	    padding: 6px 20px;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: bold;
	}
}

// Start quy trinh lam viec
#box_quy_trinh .box-img-sevice {
    background: teal;
    padding: 10%;
    width: 160px;
    margin: auto;
    border-radius: 50%;
    padding: 30px;
}
#box_quy_trinh .item_service:nth-child(1) .box-img-sevice { background: #3eb1c8; }
#box_quy_trinh .item_service:nth-child(2) .box-img-sevice { background: teal; }
#box_quy_trinh .item_service:nth-child(3) .box-img-sevice { background: #ffc72c; }
#box_quy_trinh .item_service:nth-child(4) .box-img-sevice { background: #ef3340; }
#box_quy_trinh .item_service:nth-child(5) .box-img-sevice { background: #d8d2c4; }

#box_quy_trinh .box-img-sevice img {
    max-width: 120px;
    margin: auto;
}
// End quy trinh lam viec

// Start article doi tac
.owl-nav-partner .owl-prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #3eb1c8;
    text-align: center;
    line-height: 31px;
    font-size: 16px;
}
.owl-nav-partner .owl-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #3eb1c8;
    text-align: center;
    line-height: 31px;
    font-size: 16px;
}
// End article doi tac

// Start footer
footer {
    clear: both;
    a { color: #fff;}
    .footer {
        padding: 50px 0;
        background-color: #3eb1c8;
        p {
            padding: 10px;
            color: #fff;
            font-size: 15px;
            line-height: 22px;
        }
        .title-footer {
            background: none;
            padding: 0 0 5px 0;
            position: relative;
            font-size: 17px;
            color: #fff;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 20px;
            &:before {
                content: '.';
                font-size: 1px;
                color: #fff;
                background-color: #fff;
                width: 38px;
                height: 2px;
                display: inline-block;
                float: left;
                position: absolute;
                bottom: 0px;
                left: 0;
            }
        }
        .col-detail-ft {
            .box-item-detail {
                width: 100%;
                clear: both;
                display: inline-block;
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                .fa {
                    float: left;
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                }
                p {
                    padding: 0;
                    color: #fff;
                    font-size: 15px;
                    line-height: 22px;
                    width: calc(100% - 25px);
                    float: left;
                }
            }
        }
        .col-tag-ft a {
            border: 0 solid #e5e5e5;
            background-color: #2399b1;
            color: #fff;
            margin: 0 10px 10px 0;
            float: left;
            padding: 5px 10px;
            font-size: 15px !important;
            transition: .8s;
            &:hover {
                background-color: #178095;
            }
        }
        .col-album-ft {
            .item-album {
                width: 70px;
                height: 70px;
                position: relative;
                display: block;
                float: left;
                overflow: hidden;
                margin-bottom: 20px;
                margin-right: 20px;
            }
        }
        .col-service-ft {
            a.box.item-service {
                border-bottom: 1px dashed;
            }
        }
        .col-form-ft {
            input {
                border: 0;
                border-radius: 0;
                outline: 0;
                font-size: 17px;
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                margin-top: 0;
                box-sizing: border-box;
                color: #a4a4a4;
                font-size: 15px;
                border: 0 solid #e5e5e5;
                background-color: #fff;
            }
            textarea {
                border: 0;
                border-radius: 0;
                outline: 0;
                font-size: 17px;
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;
                color: #a4a4a4;
                font-size: 15px;
                border: 0 solid #e5e5e5;
                background-color: #fff;
            }
            .btn-gui {
                float: left;
                cursor: pointer;
                outline: 0;
                border: 0;
                color: #ffffff;
                display: inline-block;
                text-align: center;
                margin: 10px 0;
                padding: 5px 10px;
                font-size: 15px;
                background-color: #ffc72c;
                text-transform: uppercase;
                border-radius: 0;
            }
        }
    }
    .footer-bottom {
        padding: 10px;
        background-color: #178095;
        border: 0 solid #f1f1f1;
        color: #fff;
      p { color: #fff;}
      ul.list-socail {
          position: relative;
          display: inline-block;
          width: fit-content;
          padding: 0;
          float: right;
      }
        li.item-socail.f-left {
            width: 40px;
            height: 40px;
            position: relative;
            display: block;
            margin-right: 10px;
            line-height: 40px;
            padding: 0;
            text-align: center;
            .fa {
                font-size: 20px;
                position: relative;
                display: block;
                line-height: 40px;
            }
          }
      .link-twitter {background-color: #14b9d5; }
      .link-youtube {background-color: #f76570; }
      .link-facebook {background-color: #5977b8; }
    }
}
// End footer

// Start list Sevices

// Start New-category
.bg_banner_cate {
    background-color: #fff;
    height: 250px;
    background: url(../images/background_service.jpg) 50% 27px / cover fixed;
    color:#fff;
    padding: 50px 0;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(67, 74, 84, 0.5);
  }
}
.box_banner_cate {
    position: relative;
    display: block;
    height: -webkit-fill-available;
}
.box_title_banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: fit-content;
}
.article-list-blog .title_wrap {
    background: #18B292;
}
.bg_blogmeta {
    background-color: #4A515B;
}
.article-list-blog .bg_author {
    background-color: #434a54;
}
.article-list-blog .book_btn {
    padding: 5px 20px;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: #18B292;
    border: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.article-list-blog .book_btn:hover {
    box-shadow: 0 0 0 0 transparent !important;
    margin-top: 4px;
    margin-bottom: -4px;
}
.article-list-blog .book_tour_wrap p {
    color: #888;
}
// End New-category
// End list services

// Start col-right
.title-aside {
    /* padding: 5px 15px; */
    /* color: #fff; */
    /* background: #3eb1c8; */
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #888;
}
.link-cate-item,.link-support {
    border-bottom: 1px dashed;
    color: #333;
    padding: 5px 0;
    transition: .6s;
}
.link-cate-item:hover ,.link-support:hover {
    background: lightblue;
    padding-left: 5px;
    color: #111;
}
// End col-right


//Start post-detail
.title-blog-detail {
    float: left;
    width: 100%;
    color: #333;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}
.box-meta-blog {
    background-color: #14b9d5;
    color: #fff;
    width: 100%;
    position: relative;
    display: inline-block;
    clear: both;
    padding: 15px 20px;
    p {
        margin: 0;
        position: relative;
        display: inline-block;
        color: #fff;
    }
    i {
        margin-right: 5px;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}
.blog-detail {
    color: #333;
    line-height: 36px;
}
.blog-detail p {
    line-height: 1.6;
}
.underlined {
    float: left;
    width: 100%;
    max-width: 30px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}
.title-relate,.title-schedule {
    width: 100%;
    color: #5e6d81;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}
.link-related,.link-schedule {
    font-size: 15px;
    padding: 5px 0 5px 20px;
    margin: 0;
    position: relative;
    color: #333;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    &:before {
      content: '';
      border: 3px solid #000;
      position: absolute;
      box-shadow: 1px 1px 2px;
      left: 5px;
      top: 12px;
      color: #000;
    }
}

span.title-meta {
    position: relative;
    display: block;
    float: left;
    color: #3eb1c8;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.box-title-meta>a {
    padding: 3px 10px;
    background: #3eb1c8;
    color: #fff;
    margin-right: 3px;
    transition: .6s;
    margin-bottom: 5px;
    position: relative;
    display: block;
    float: left;
}

.box-title-meta>a:hover {
    border-radius: 10px;
    background: #2399b1;
}
// End post-detail


// Start page contact
.box-icon {
    background: #3eb1c8;
    display: block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 56px;
    border-radius: 50%;
}
.box-icon {

}
// End page contact

@media (min-width: 1380px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}
@media (min-width: 768px) {
    .border_r_768 {
        border-right: 2px solid #d5d5d5;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
}
@media all and (max-width: 991px) {
    .ft_responsive_max991 {
        float: left;
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
}
@media all and (max-width: 767px) {
    header{
        .box-logo-top {
            margin-top: 10px;
            a {
                width: 100%;
                text-align: center;
                padding-bottom: 10px;
                img {
                    margin: auto;
                }
            }
        }
    }
}
@media all and (max-width: 479px) {
	.full480 {
		width: 100%;
	}
	.hidden-480 {
		display: none;
	}
}
